.root {
  margin-top: 30px;
  position: relative;
  z-index: 1;

  & > button {
    color: var(--primary);
  }
}

.shareList {
  background: #ffffff;
  box-shadow: 5px 5px 30px rgba(65, 37, 23, 0.05);
  border-radius: 59px;
  width: 229px;
  height: 50px;
  position: absolute;
  left: 55px;
  top: 0;
  display: flex;
  align-items: center;
  padding: 0 18px;
  z-index: 0;

  button {
    margin-right: 15px;
  }

  svg {
    width: 24px;
    height: 24px;
  }
}

.closeShare {
  border: none;
  outline: none;
  background: none;
  color: var(--gray-2);
  position: absolute;
  right: 16px;

  svg {
    width: 12px;
    height: 12px;
  }

  &:hover {
    color: var(--primary);
  }

  &::after {
    content: '';
    position: absolute;
    width: 200%;
    height: 200%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
