.root {
  box-sizing: border-box;
  width: 100%;
  background: var(--bg-1);
  padding: 24px 0 32px 0;
  border-radius: 16px;
  margin-top: 33px;
  box-shadow: 5px 5px 30px rgba(65, 37, 23, 0.05);
}

.preload {
  display: flex;
  justify-content: center;
}

.searchResult {
  color: rgba(0, 0, 0, 0.6);
  padding-left: 24px;
}

@media (max-width: 768px) {
  .root {
    border-radius: 0;
  }
}
