.root {
  margin-top: 20px;
}

.root .title {
  color: var(--gray-2);
  margin-bottom: 15px;
  display: inline-block;
}

.root .noVotes {
  display: flex;
  align-items: center;
}

.root .noVotesCaption {
  color: var(--gray-2);
  margin-left: 10px;
}

.avatarListPlaceholder {
  display: flex;
  
  span {
    width: 45px;
    height: 45px;
    background: var(--placeholder);
    border-radius: 50%;
    margin-right: 10px;
  }
}

.avatarList {
  display: flex;
  
  & > div {
    margin-right: 10px;
  }
  
  &:last-child {
    margin-right: 0;
  }
}