.container {
  max-width: 1600px;
  margin-top: 40px;
  margin-bottom: 30px;

  h1 {
    margin-top: 15px;
    margin-bottom: 40px;
  }
}

.wrap {
  display: flex;
  justify-content: space-between;
}

.noPetsCard {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 597px;
  height: 283px;
  background: #ffffff;
  border: 1px solid rgba(226, 235, 248, 0.2);
  box-shadow: 5px 5px 30px rgba(65, 37, 23, 0.05);
  border-radius: 15px;
  h4 {
    width: 170px;
  }
}

.gridRoot {
  margin-top: 40px;
}

.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 20vh;
}

.moreLoaderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.observerMarker {
  position: relative;
  top: -100px;
  height: 55px;
  margin-top: 69px;
}

.editPet {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: var(--bg-1);
  border-radius: 100%;
  right: 0;
  cursor: pointer;
  margin: 20px 20px 0 0;
  z-index: 2;

  &:hover {
    background-color: var(--placeholder);
  }

  path {
    fill: var(--primary);
  }
}

@media (max-width: 960px) {
  .container > div > a,
  .noPetsCard {
    width: 100%;
    min-width: 283px;
    max-width: 597px;
  }

  .container > div > a {
    margin-bottom: 16px;
  }

  .root h1 {
    margin: 25px 0;
    font-size: 48px;
    line-height: 72px;
    padding: 0;
  }

  .wrap {
    align-items: center;
    flex-direction: column;
  }
}

@media (max-width: 560px) {
  .noPetsCard {
    display: flex;
    flex-direction: column;

    h4 {
      width: 170px;
      text-align: center;
      margin-bottom: 10px;
    }

    svg {
      width: auto;
    }
  }
}
