.addComment {
  display: flex;
  margin-top: 30px;
  margin-bottom: 20px;
}

.addComment .avatar {
  margin-right: 15px;
}

.addComment .input {
  min-width: 493px;
  margin-right: 20px;
}

.addComment .send {
  color: var(--bg-1);
  background: var(--primary);

  &:hover {
    background-color: var(--primary-dark);
  }
}
