.informationTitle {
  color: rgba(0, 0, 0, 0.6);
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.1px;
  line-height: 24px;
  margin-bottom: 15px;
}

.inputWrapper {
  max-width: 452px;
  margin-bottom: 22px;
}

.submitBtn {
  margin-top: 22px;
}

@media (max-width: 768px) {
  .submitBtn > button {
    width: 100%;
  }
}
