.root {
  padding: 20px;
  background: rgba(226, 235, 248, 0.2);
  border-radius: 5px;
  display: flex;
}

.contestPreview {
  margin-right: 10px;

  span {
    background: var(--fiolet-light10);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.contestInfo {
  display: flex;
  flex-direction: column;

  p {
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 5px;
  }

  & > span {
    color: var(--gray-2);
    margin-bottom: 7px;
  }
}

@media (max-width: 375px) {
  .contestInfo > label {
    width: 100%;
  }

  .contestInfo > p {
    font-size: 14px;
  }
}
