.toastWrapper {
  display: flex;
  align-items: center;
}

.toastIcon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
  background: rgba(#fff, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.toastInfo {
  display: flex;
  flex-direction: column;
}

.toastTitle {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #fff;
  margin-bottom: 4px;
}

.toastInfo {
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
}
