.root {
  background: #ffffff;
  box-shadow: 5px 5px 30px rgba(65, 37, 23, 0.05);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 399px;
  height: 399px;
  position: relative;
  overflow: hidden;
}

.placeholder {
  background: #dad7d7;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.lastVoteRoot {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
  border-bottom: 1px solid #f4f9fe;
  margin-bottom: 15px;

  &:last-of-type {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  }

  &:hover {
    cursor: pointer;
    background: rgba(235, 134, 75, 0.2);
  }
}

.userAvatar {
  width: 45px;
  height: 45px;
  display: block;
  max-width: 45px;
  min-width: 45px;
  max-height: 45px;
  margin-right: 10px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;

  img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }
}

.userInfo {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  align-self: center;
  padding-top: 2px;
  max-width: 56%;
  padding-right: 10px;

  p,
  span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }

  p {
    font-weight: 600;
  }

  span {
    margin-top: -5px;
    color: #a4afbe;
  }
}

.timestamp {
  color: #a4afbe;
  white-space: nowrap;
}
