.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  position: relative;
}

.header {
  flex: 0 0 auto;
}

.main {
  position: relative;
  flex: 1 0 auto;
  padding-top: 75px;
}

.footer {
  flex: 0 0 auto;
}

.wrapper .searchButton {
  width: 50px;
  height: 50px;
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 15px;
  bottom: 92px;
  padding: 0;
  background: var(--bg-1);
  z-index: 5;
  box-shadow: -5px -5px 30px rgba(65, 37, 23, 0.05);
  
  &:hover {
    background: var(--bg-1);
    
    svg {
      fill: var(--primary);
    }
    
    svg path {
      fill: var(--primary);
    }
  }
}

@media (max-width: 860px) {
  .main {
    padding-top: 0;
  }

  .wrapper .searchButton {
    display: flex;
  }
}
