.root {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 110px;
}

.root .title {
  display: flex;
  justify-content: space-between;
  margin: 25px 0 40px;
}

.container {
  max-width: 912px;
  width: 100%;
}

.deleteAccountP,
.deleteAccountM {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  box-shadow: none;
  border: none;
  background: none;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 160%;
  color: var(--gray-2);
  align-self: center;

  svg {
    width: 20px;
    height: 20px;
    margin-right: 12px;
  }
}

.deleteAccountM {
  display: none;
}

@media (max-width: 992px) {
  .container {
    padding: 0 24px 0 24px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0;
  }

  .root .title {
    margin: 25px 16px;
    font-size: 48px;
    line-height: 72px;
    padding: 0;
  }

  .container > nav > ol {
    padding-left: 16px;
  }

  button.deleteAccountP {
    display: none;
  }

  button.deleteAccountM {
    display: flex;
    align-items: center;
    margin: 20px auto 0;
  }
}
