.notificationMenu {
  position: absolute;
  background: var(--bg-1);
  width: 360px;
  max-height: 625px;
  top: 60px;
  right: 116px;
  border-radius: 5px;
  box-shadow: 5px 5px 30px rgba(65, 37, 23, 0.15);

  .notificationCount {
    font-family: 'SF Pro Display';
    color: rgba(0, 0, 0, 0.6);
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.1px;
    line-height: 24px;
    padding: 11px 13px;
  }

  .firstLoad {
    display: flex;
    justify-content: center;

    padding: 20px 0;
  }
}

.wrapper {
  width: 100%;
  height: calc(100% - 45px);
}

.closeButton {
  display: none;
  cursor: pointer;
  position: absolute;
  right: 12px;
  top: 15px;

  svg {
    fill: rgba(0, 0, 0, 0.2);
    width: 18px;
    height: 18px;

    &:hover {
      fill: rgba(0, 0, 0, 0.4);
    }
  }
}

@media (max-width: 992px) {
  .notificationMenu {
    right: 60px;
  }
}

@media (max-width: 768px) {
  .notificationMenu {
    position: fixed;
    background-color: var(--bg-1);
    width: 100%;
    max-height: 100vh;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9999;
  }

  .closeButton {
    display: block;
  }

  .firstLoad {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
