.root {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.title {
  width: 95px;
  height: 23px;
  overflow: hidden;
  border-radius: 20px;
  background-color: #e8e8e8;
  margin-bottom: 12px;
}

.checkbox {
  display: flex;
  align-items: center;

  div {
    display: flex;
    align-items: center;
    margin-right: 15px;

    span.checkboxTitle {
      width: 40px;
      height: 16px;
      overflow: hidden;
      border-radius: 20px;
      background-color: #e8e8e8;
    }

    span {
      width: 22px;
      height: 22px;
      overflow: hidden;
      border-radius: 50%;
      background-color: #e8e8e8;
      margin-right: 6px;

      &:last-child {
        margin-right: 0;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
