
.root .container {
  max-width: 1600px;
}

.root {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 40px;
}

.textBlocRoot{
  margin: -20px auto;
  max-width: 911px;
  background: #FFFFFF;
  border: 1px solid rgba(226, 235, 248, 0.2);
  box-sizing: border-box;
  box-shadow: 5px 5px 30px rgba(65, 37, 23, 0.05);
  border-radius: 15px;
  height: auto;
  padding: 48px 29px;
}

.textBlocMain {
  width: 100%;
  padding: 10px 10px;
}



@media (max-width: 729px) {
  .textBlocRoot {
    width: 100%;
    padding: 25px 10px;
    margin-bottom: 25px;
  }
}

