.petAvatar {
  height: 100%;
  width: 100%;
  min-height: 284px;
  min-width: 274px;
  border-radius: 20px;
  object-fit: cover;
}

.editAvatar {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: var(--bg-1);
  border-radius: 100%;
  right: 0;
  cursor: pointer;
  margin: 20px 20px 0 0;

  &:hover {
    background-color: var(--placeholder);
  }

  path {
    fill: var(--primary);
  }
}

.inputZone {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

input::-webkit-file-upload-button {
  display: none;
}
