.root {
  display: flex;
  border: 1px solid var(--gray-2);
  border-radius: 49px;
  max-width: 100%;
  position: relative;
}

.tabItem {
  flex-basis: 50%;
  font-weight: 600;
  font-size: 17px;
  color: var(--black);
  height: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  cursor: pointer;
}

.activeTab {
  color: #fff;
  pointer-events: none;
  cursor: default;
}

.indicator {
  position: absolute;
  height: 55px;
  top: -1px;
  transform: translateX(-1px);
  background: var(--primary);
  border-radius: 49px;
  width: 50%;
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.firstItem {
  transform: translateX(-1px);
}

.secondItem {
  transform: translateX(calc(100% + 1px));
}
