.root {
  background: var(--bg-1);
  border: 1px solid rgba(226, 235, 248, 0.2);
  box-sizing: border-box;
  box-shadow: 5px 5px 30px rgba(65, 37, 23, 0.05);
  border-radius: 15px;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.addPageForm {
  flex: 0 1 calc(100% - 30px - 284px);
}

@media (max-width: 768px) {
  .root {
    flex-direction: column;
    padding: 20px 16px;
    border-radius: 0;
  }

  .wrapper,
  .addPageForm {
    width: 100%;
  }

  .addPageForm > form > button {
    width: 100%;
  }
}
