.toast {
  border-radius: 5px !important;

  &--success {
    background: var(--green) !important;
    box-shadow: 15px 15px 25px rgba(158, 202, 116, 0.3) !important;
  }

  &--error {
    background: var(--red-error) !important;
    box-shadow: 15px 15px 25px rgba(240, 55, 56, 0.2) !important;
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: rgba(#fff, 0.1);
  }

  & > i {
    position: relative;
    left: 2px;
    top: -6px;

    &:after {
      content: '';
      width: 20px;
      height: 20px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.Toastify__progress-bar {
  opacity: 0.5 !important;
}

.Toastify__toast-body {
  margin: 2px 0 0 0 !important;
}

.Toastify__toast {
  padding: 15px;
  min-height: 70px;
}

.Toastify__toast-container {
  width: 361px;

  @media (max-width: 560px) {
    width: 320px;
  }
}
