.navigation {
  display: flex;
  align-items: center;
  margin-top: 7px;
  margin-right: 52px;

  a {
    text-decoration: none;
    color: var(--black);
    margin-right: 40px;
    font-weight: 600;
    transition: var(--transition-hover);

    p {
      font-weight: inherit;
    }

    &:last-of-type {
      margin-right: 0;
    }

    &:hover {
      color: var(--primary);
    }
  }
}

@media (max-width: 1240px) {
  .navigation {
    margin-right: 0;

    a {
      margin-right: 30px;
    }

    a:last-of-type {
      margin-right: 20px;
    }
  }
}

@media (max-width: 980px) {
  .navigation {
    a {
      margin-right: 20px;

      p {
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 860px) {
  .navigation {
    display: none;
  }
}
