.root {
  padding-top: 40px;
  overflow: hidden;
  position: relative;
}

.root .title {
  text-align: center;
  margin-bottom: 60px;
}

.root .container {
  max-width: 1600px;
}

.root .gridContainer {
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 860px) {
  .root {
    padding-top: 20px;
  }
}
