.root {
  margin-top: 20px;
}

.search {
  display: flex;
  flex-wrap: wrap;
}

.list {
  justify-content: space-between;
  width: 100%;
  outline: none;
  background: #fff;
}

.item {
  height: 72px;
  box-sizing: border-box;
}

.item:hover {
  background-color: rgba(235, 134, 75, 0.2);
}

.search .item {
  flex-basis: 50%;
  max-width: calc(50% - 12px);
}

.search .item > div {
  height: 100%;
}

.link {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-left: 24px;
}

.avatarImg {
  background-color: rgb(228, 228, 228);
  width: 40px;
  height: 40px;
  margin-right: 16px;
  border-radius: 50%;
  flex-shrink: 0;
  min-width: 40px;
}

.content {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;
  width: 100%;
  height: 100%;
}

.content .wrapper {
  width: 100%;
  padding-right: 24px;
}

.heading {
  font-size: 17px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.22px;
  color: rgba(0, 0, 0, 0.87);
}

.subheading {
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.6);
  line-height: 20px;
}

@media (max-width: 768px) {
  .search .item {
    flex-basis: 100%;
    max-width: 100%;
  }
}
