.cardWrapper {
  background: var(--secondary);
  box-shadow: 30px 30px 30px rgba(207, 96, 31, 0.05);
  border-radius: 20px;
  width: 100%;
}

.addPetForm {
  background: var(--bg-1);
  box-shadow: 20px 20px 20px rgba(236, 192, 81, 0.1);
  border-radius: 20px;
  padding: 20px 20px 25px;

  h3 {
    margin-bottom: 16px;
  }

  button {
    margin-top: 16px;
    width: 100%;
  }

  input {
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .addPetForm {
    h3 {
      font-size: 30px;
    }
  }
}
