.root {
  background: #ffffff;
  box-shadow: 5px 5px 30px rgba(65, 37, 23, 0.05);
  border-radius: 15px;
  height: 400px;
  padding: 80px;
  display: flex;
  position: relative;
  margin-bottom: 40px;
  overflow: hidden;
}

.image {
  position: absolute;
  right: 167px;
  bottom: -5px;
}

.main {
  max-width: 450px;
  position: relative;
  z-index: 1;

  h1 {
    margin-bottom: 30px;
  }
}

.controls {
  display: flex;
  align-items: center;

  button {
    margin-right: 30px;
  }

  a {
    color: var(--primary);
    font-size: 17px;
    font-weight: 600;
    transition: var(--transition-hover);

    &:hover {
      color: var(--primary-dark);
    }
  }
}

.bannerDecoration {
  position: absolute;
  top: 15px;
  left: 13px;
  z-index: 0;
}

@media (max-width: 1480px) {
  .image {
    right: -20px;
  }
}

@media (max-width: 1240px) {
  .image {
    svg {
      width: 540px;
      height: auto;
    }
  }
}

@media (max-width: 992px) {
  .root {
    padding: 40px;
  }
  
  .bannerDecoration {
    top: 0;
    left: -30px;
  }
  
  .main h1 {
    font-size: 48px;
    line-height: 60px;
  }
}

@media (max-width: 860px) {
  .controls {
    a {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .root {
    padding: 25px 20px;
    height: 372px;
  }
  
  .bannerDecoration {
    transform: scaleX(-1);
    top: 43px;
    left: auto;
    right: -9px;
  }
  
  .main {
    max-width: 360px;
    
    h1 {
      font-size: 36px;
      line-height: 43px;
      margin-bottom: 23px;
    }
  }
  
  .image {
    right: 50%;
    transform: translateX(53%);
    svg {
      width: 442px;
    }
  }
}