.root {
  display: flex;
  align-items: center;
}

.avatar {
  width: 50px;
  height: 50px;
  min-width: 50px;
  margin-right: 10px;
}

.wrapper {
  display: flex;
  align-items: center;
}

.root .note {
  max-width: 200px;
  margin-left: auto;
  color: var(--gray-2);
}

.root .linkedType {
  margin-right: 20px;
  margin-left: 10px;
  color: var(--black);
}

@media (max-width: 992px) {
  .root .linkedType {
    margin-right: 0;
  }

  .wrapper {
    margin-bottom: 14px;
  }
}

@media (max-width: 890px) {
  .root {
    display: block;
  }
}

@media (max-width: 768px) {
  .root {
    display: block;
    flex-direction: column;
  }

  .root .note {
    max-width: none;
    font-size: 13px;
  }

  .wrapper {
    margin-bottom: 14px;
  }
}
