.root {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 110px;
}

.root .title {
  margin: 25px 0 40px;
}

.container {
  max-width: 912px;
  width: 100%;
}

@media (max-width: 1024px) {
  .container {
    padding: 0 24px 0 24px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0;
  }

  .root .title {
    margin: 25px 16px;
    font-size: 48px;
    line-height: 72px;
    padding: 0;
  }

  .container > nav > ol {
    padding-left: 16px;
  }
}
