.root {
  position: absolute;
  width: 360px;
  background-color: white;
  border-radius: 5px;
  max-height: calc(100vh - 64px);
  box-shadow: 5px 5px 30px rgba(65, 37, 23, 0.05);
  z-index: 1;
}

.root .searchHeading {
  color: rgba(0, 0, 0, 0.6);
  padding: 13px 0 0 17px;
  line-height: 24px;
}

.root .pets {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 12px;
}

.btn {
  font-family: 'SF Pro Display';
  cursor: pointer;
  font-weight: 500;
  margin: 17px 17px 0 auto;

  &:hover {
    color: var(--primary);
  }
}

.item {
  height: 71px;
  box-sizing: border-box;
}

.item > div {
  height: 100%;
}

.item:hover {
  background-color: rgba(235, 134, 75, 0.2);
}

.link {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-left: 24px;
}

.autocomplete {
  max-width: 360px;
  box-sizing: border-box;
}

.avatarImg {
  background-color: rgb(228, 228, 228);
  width: 40px;
  height: 40px;
  margin-right: 16px;
  border-radius: 50%;
  flex-shrink: 0;
  min-width: 40px;
}

.content {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;
  width: 100%;
  height: 100%;
}

.content .wrapper {
  width: 100%;
  padding-right: 24px;
}

.heading {
  font-family: 'SF Pro Display';
  font-size: 17px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.22px;
  color: rgba(0, 0, 0, 0.87);
}

.subheading {
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.6);
  line-height: 20px;
}

.noResult {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  padding: 0 15px;

  svg {
    height: 21px;
    width: 21px;

    path {
      fill: rgba(0, 0, 0, 0.4);
    }
  }
}

.noResultText {
  color: rgba(0, 0, 0, 0.6);
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.1px;
}

@media (max-width: 860px) {
  .root {
    display: none;
  }
}
