.root {
  margin: 30px 0 25px 0;
  display: flex;
  flex-direction: column;
}

.title {
  width: 210px;
  height: 25px;
  overflow: hidden;
  border-radius: 20px;
  background-color: #e8e8e8;
  margin-bottom: 20px;
}

.input {
  width: 290px;
  height: 40px;
  overflow: hidden;
  border-radius: 15px;
  background-color: #e8e8e8;
}
