.cardWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
}

.imageArea {
  position: relative;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 15px;
  padding-bottom: 100%;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

.votesCount {
  left: 19px;
  bottom: 20px;
  background: var(--primary);
  border-radius: 10px;
  position: absolute;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  cursor: pointer;
  color: var(--bg-1);

  svg {
    margin-right: 10px;
  }

  p {
    color: var(--bg-1);
    font-weight: 600;
  }
}

.cardInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px 16px 0 14px;

  h4,
  span {
    flex-basis: 50%;
    max-width: 50%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: var(--black);
    text-decoration: none;
  }

  span {
    text-align: right;
    position: relative;
    top: 2px;
    color: #a4afbe;
  }

  h4 {
    padding-right: 15px;
  }
}
