.userBlock {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.userBlock .addPetButton {
  margin-right: 28.5px;
}

.userBlock .addPetButtonMobile {
  display: none;
  color: var(--primary);
  margin-right: 20px;
}

.userBlock .loginLink {
  color: var(--primary);
  align-self: center;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  transition: var(--transition-hover);
  border: none;
  box-shadow: none;
  background: none;

  &:hover {
    color: var(--primary-dark);
  }
}

.userBlock .loginIcon {
  width: 47px;
  height: 47px;
  background: #f4f9fe;
  border: 2px solid rgba(235, 134, 75, 0.2);
  border-radius: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-right: 12.5px;

  svg {
    margin-right: 0;
  }
}

.authUser {
  position: relative;
  display: flex;
  height: 55px;
}

.notificationBlock {
  display: flex;

  &.active {
    svg {
      path {
        fill: var(--primary);
      }
    }
  }
}

.notifications {
  svg {
    path {
      fill: #31344e;
    }
  }

  &:hover {
    svg {
      path {
        fill: var(--primary);
      }
    }
  }
}

.notifications {
  display: flex;
  align-items: center;
  position: relative;
  align-self: center;
  width: 41px;
  z-index: 2;
  margin-right: 25px;

  span {
    position: absolute;
    top: -10px;
    right: -10px;
    background: #eb864b;
    border-radius: 5px;
    font-size: 11px;
    line-height: 13px;
    color: #ffffff;
    padding: 3px 5px;
  }
}

.user {
  display: flex;
  align-items: center;
}

.userName {
  margin-left: 15px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #31344e;
}

@media (max-width: 1160px) {
  .userBlock .addPetButton {
    display: none;
  }

  .userBlock .addPetButtonMobile {
    display: block;
    width: 47px;
    height: 47px;
    padding: 0;
  }
}

@media (max-width: 992px) {
  .userName {
    display: none;
  }
}

@media (max-width: 860px) {
  .userBlock .addPetButtonMobile {
    display: none;
  }
}

@media (max-width: 360px) {
  .userBlock .loginLink span:last-of-type {
    display: none;
  }
}
