.commentItemRoot {
  position: relative;
  border-bottom: 1px solid rgba(226, 235, 248, 0.2);
  padding-bottom: 20px;
  padding-top: 20px;
}

.commentItemUser {
  display: flex;
  margin-bottom: 20px;
}

.commentItemInfo {
  margin-left: 10px;
}

.commentItemTime {
  color: var(--gray-2);
}

.commentItemRoot .commentItemAuthor {
  font-weight: 600;
}

.commentItemContent {
  color: var(--gray-2);
  margin-bottom: 15px;
  word-break: break-word;
}

.commentItemControlButton {
  padding: 0;
  box-shadow: none;
  outline: none;
  background: none;
  border: none;
  color: var(--gray-2);
  display: flex;
  align-items: center;
  transition: var(--transition-hover);

  &:hover {
    color: var(--primary);
  }

  span {
    margin-left: 10px;
  }
}

.commentItemControlButtonActive {
  color: var(--primary);
}

.commentReplies {
  padding-left: 55px;
  border-bottom: 1px solid rgba(226, 235, 248, 0.2);

  & .commentItemRoot:last-of-type {
    margin-bottom: 10px;
  }
}

.commentWrapper .loadMoreReplies {
  margin: auto;
  display: block;
  min-width: 226px;
  margin-bottom: 10px;
}

.commentItemControls {
  display: flex;

  .commentItemControlButton {
    margin-right: 21px;
  }
}

.commentItemReplyButton {
  color: var(--primary);

  &:hover {
    color: var(--primary-dark);
  }
}

.root .loadMoreComments {
  display: flex;
  min-width: 226px;
  margin: 40px auto 10px;
}

.commentsNoMoreReplies {
  .commentItemRoot:last-of-type {
    border-bottom: none;
  }
}

.commentFormWrapper {
  border-bottom: none;

  & > div {
    margin-bottom: 0;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(226, 235, 248, 0.2);
  }
}

.loadingMoreComments {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto 10px;
}

.loadingMoreReplies {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0 10px;
}