.list {
  max-height: 579px;
  overflow-y: auto;
}

.item {
  display: flex;
  width: 100%;
  transition: background 0.4s;
  padding-left: 15px;
  padding-top: 13px;
  cursor: pointer;
  font-size: 13px;
  height: 60px;

  &:hover {
    background-color: rgba(235, 134, 75, 0.2);
  }
}

.list .item:nth-last-child(2) {
  padding-bottom: 10px;
}

.list .item:nth-last-child(2) .content {
  border-bottom: none;
}

.img {
  background-color: rgb(228, 228, 228);
  width: 40px;
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
}

.list::-webkit-scrollbar {
  width: 0;
}

.test {
  font-weight: 700;
}

.timeBlock {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.itemTime {
  color: var(--gray-2);
}

.preload {
  display: flex;
  justify-content: center;
  padding: 25px 0;
}

@media (max-width: 768px) {
  .list {
    max-height: 100%;
  }
}
