.root .breed {
  color: var(--primary);
  margin-bottom: 2px;
}

.socials {
  margin-top: 2px;
  display: flex;

  svg {
    width: 50px;
    height: 50px;
  }

  & > a {
    margin-right: 15px;
  }
}

.breedPlaceholder {
  height: 22px;
  margin-bottom: 2px;
  display: flex;
  align-items: center;

  span {
    width: 120px;
    border-radius: 15px;
    background-color: var(--placeholder);
    height: 15px;
  }
}

.petNamePlaceholder {
  height: 76px;
  display: flex;
  align-items: center;

  span {
    width: 250px;
    border-radius: 45px;
    background-color: var(--placeholder);
    height: 44px;
  }
}

.socialsPlaceholder {
  height: 27px;
  margin-top: 2px;
  display: flex;

  span {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--placeholder);
    margin-right: 15px;
  }
}
