.root {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 242px);
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
  box-sizing: border-box;
  flex: 1 1;
}

@media (max-width: 768px) {
  .container {
    padding: 0;
    margin-bottom: 20px;
  }
}
