.bottomed {
  margin-bottom: 30px;
}

.root .informationTitle {
  margin-bottom: 20px;
}

.radioGroupWrapper {
  margin-top: 20px;
  margin-bottom: 20px;
}

.root .radioGroup {
  display: flex;
  flex-direction: row;

  & > * {
    margin-right: 30px;
  }
}

@media (max-width: 375px) {
  .root .informationTitle {
    font-size: 20px;
  }
}
