.root {
  margin-top: 40px;
  margin-bottom: 30px;
}

.breadcrumbs {
  padding-left: 10px;
}

.petInfoRoot {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.petInfoCol {
  min-width: 284px;
}
