.root {
  background: var(--bg-1);
  border: 1px solid rgba(226, 235, 248, 0.2);
  box-sizing: border-box;
  box-shadow: 5px 5px 30px rgba(65, 37, 23, 0.05);
  border-radius: 15px;
  padding: 40px;
}

.row {
  display: flex;
}

.avatarCol {
  flex: 0 1 283px;
  max-width: 283px;
  margin-right: 40px;
}

.avatar {
  background: #f4f9fe;
  border: 2px solid rgba(226, 235, 248, 0.2);
  border-radius: 15px;
  height: 283px;

  svg {
    width: 283px;
    height: 100%;
  }
}

.formCol {
  max-width: calc(100% - 283px - 40px);
}

.root .whoOwner {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: var(--black);
  margin-bottom: 20px;
}

.root .loginInfo {
  margin-top: 30px;
  margin-bottom: 20px;
}

.nickname,
.email,
.city {
  position: relative;
  display: flex;
  align-items: center;

  div {
    width: 100%;
  }

  button {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    margin-right: 12px;

    svg {
      height: 12px;
      width: 12px;
      fill: var(--gray-2);
      transition: all 0.15s ease;
    }

    &:disabled {
      opacity: 0.5;
      pointer-events: none;
    }

    &:hover {
      svg {
        fill: var(--primary);
      }
    }
  }
}

.nickname,
.city,
.email {
  margin-bottom: 20px;

  div > div > input {
    padding-right: 36px;
  }
}

.changeEmail {
  margin-top: 15px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  box-shadow: none;
  background: none;
  border: none;
  color: var(--primary);
  margin-left: auto;
  font-weight: 600;
  font-size: 15px;
  line-height: 160%;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &:hover {
    color: var(--primary-dark);
  }

  svg {
    margin-right: 12px;
  }
}

.root .emailNotifications {
  margin-top: 30px;
  margin-bottom: 13px;
}

.checkboxGroup {
  display: flex;
  margin-bottom: 30px;
}

.checkboxGroupCol {
  flex-basis: 50%;
  max-width: 50%;

  label {
    width: 100%;
  }
}

@media (max-width: 890px) {
  .checkboxGroup {
    flex-direction: column;

    label {
      width: 100%;
      margin-right: 0;
    }
  }

  .checkboxGroupCol {
    max-width: none;
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .root {
    border-radius: 0;
    padding: 0;
  }

  .root .whoOwner,
  .root .loginInfo,
  .root .emailNotifications {
    font-size: 22px;
  }

  .row {
    flex-direction: column;
  }

  .formCol {
    max-width: none;

    form {
      padding: 16px;

      button {
        width: 100%;
      }

      .nickname button,
      .email button,
      .city button {
        width: auto;
      }

      button.changeEmail {
        width: auto;
      }
    }
  }

  .avatarCol {
    display: flex;
    justify-content: center;
    max-width: none;
    margin-right: 0;
    padding: 15px 16px;
  }

  .avatar {
    max-width: 283px;
  }

  .checkboxGroup {
    display: flex;
    flex-direction: column;

    label {
      width: 100%;
      margin-right: 0;
    }
  }

  .checkboxGroupCol {
    max-width: none;
  }
}
