.root {
  height: 310px;
  min-width: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .social {
    width: 130px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 18px;
  }
  
  .social button {
    margin: 0;
    padding: 0;
    box-shadow: none;
    background: none;
    border: none;
  }

  p {
    margin-bottom: 17px;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 254px;
  }
}

.submitBtn {
  max-width: 144px;
}

.root .title {
  margin-bottom: 30px;
}
