.petAddMedia {
  position: relative;
  width: 100%;
  box-shadow: 5px 5px 30px rgba(65, 37, 23, 0.05);
  flex: 0 1 284px;
}

.mediaWrapper {
  padding: 20px;
  background: var(--secondary);
  border-radius: 20px;
}

.dragAndDrop {
  position: relative;
  background: rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  border-radius: 20px;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='white' stroke-width='2' stroke-dasharray='20' stroke-dashoffset='24' stroke-linecap='round'/%3e%3c/svg%3e");
  width: 100%;
  height: 249px;
  padding-top: 23px;
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--bg-1);

  h4 {
    margin-bottom: 15px;
  }

  h4.drop {
    margin: auto 0;
  }

  span {
    max-width: 180px;
    text-align: center;
  }
}

.inputZone {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

input::-webkit-file-upload-button {
  display: none;
}

@media (max-width: 768px) {
  .petAddMedia {
    margin-bottom: 30px;
    display: block;
    margin: 0 auto 30px auto;
    min-width: 284px;
    max-width: 284px;
  }
}

@media (max-width: 600px) {
  .dragAndDrop {
    h4 {
      font-size: 14px;
    }
  }
}
