.root {
  background: #ffffff;
  box-shadow: 5px 5px 30px rgba(65, 37, 23, 0.05);
  border-radius: 15px;
  padding: 30px;
  margin-top: 30px;
}

.stats {
  display: flex;
  padding-top: 12px;
  margin-bottom: 15px;
}

.statItem {
  display: flex;
  align-items: center;
  margin-right: 24px;

  &:last-of-type {
    margin-right: 0;
  }

  i {
    margin-right: 11px;
    width: 20px;
  }

  p {
    font-size: 24px;
    line-height: 29px;
    font-weight: 600;
  }

  span {
    position: relative;
    top: -15px;
  }
}

.likes {
  color: var(--primary);

  i,
  svg {
    width: 20px;
    height: 18px;
  }
}

.position {
  color: var(--fiolet);
}

.statsPlaceholder {
  display: flex;
  padding-top: 12px;
  margin-bottom: 15px;
  height: 41px;
}

.statItemPlaceholder {
  width: 72px;
  height: 29px;
  display: flex;
  align-items: center;
  margin-right: 24px;

  span {
    height: 24px;
    border-radius: 24px;
    background: #e8e8e8;
    width: 72px;
  }
}

.buttonPlaceholder {
  width: 170px;
  height: 55px;
  background: #e8e8e8;
  border-radius: 15px;
}
