.root {
  min-width: 500px;
}

.root .title {
  margin-bottom: 40px;
}

.petInfo {
  display: flex;
  margin-bottom: 25px;
}

.petImage {
  border: 1px solid rgba(226, 235, 248, 0.2);
  border-radius: 15px;
  overflow: hidden;
  width: 120px;
  height: 120px;
  object-fit: cover;
  margin-right: 15px;

  & > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.petInfoCol {
  padding-top: 24px;
}

.petBreed {
  color: var(--primary);
}

.petInfoCol .petName {
  margin-bottom: 11px;
  font-weight: 600;
}

.petStats {
  display: flex;
}

.packagesRoot {
  & > div {
    margin-bottom: 15px;
  }

  & > div:last-of-type {
    margin-bottom: 0;
  }
}
