.root{
  max-width: 1600px;
}

.banner{
  background: #ffffff;
  box-shadow: 5px 5px 30px rgba(65, 37, 23, 0.05);
  border-radius: 15px;
  height: 286px;
  max-width: 912px;
  display: flex;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  background: var(--black) url('../../../static/images/development/footerBg.png');
}

.image {
  position: absolute;
  right: 8px;
  bottom: -3px;
  svg {
    width: 395px;
    height: auto;
  }
}

.main {
  padding: 84px 50px;
  max-width: 100%;
  position: relative;
  z-index: 1;
  color: var(--bg-1);

  h1{
    padding-top: 16px;
  }
}

@media (max-width: 1480px) {
  .image {
    right: -20px;
  }
}

@media (max-width: 1240px) {
  .main h1 {
    font-size: 40px;
    line-height: 60px;
  }
}

@media (max-width: 992px) {
  .root {
    padding: 40px;
  }
  .main h1 {
    font-size: 40px;
    line-height: 60px;
  }
}

@media (max-width: 729px) {

  .main {
    width: 100%;
    padding-top: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 10px;

    h1{
      padding-top: 0px;
    }
  }
  .image {
    right: 52%;
    transform: translateX(53%);
    svg {
      width: 300px;
    }
  }
}


@media (max-width: 480px) {
  .main{
    padding: 10px;
  }

  .main h1{

   font-size: 20px;
  }
}